body {
    background-color: linear-gradient(#f5f3ed, #a1a09d );
    padding-top: 120px;
}
.navbar {
    opacity: .9rem;
}
.navbar-dark .navbar-brand {
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    font-family: "Madimi One", sans-serif;
    background-color: rgb(0 58 93 / var(--tw-bg-opacity));;
    opacity: .9rem;
    padding: inherit;
}
.navbar-right {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Anton", sans-serif;
    /* font-weight: lighter; */
    font-size: 1.5em;
    letter-spacing: 0.1em;

}
a.nav-link, h2, h5 {
    font-weight: bolder;
    font-family: "Madimi One", sans-serif;
}
a.nav-link:hover {
    background-color: transparent;
}
.blockquote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    opacity: .1rem;
    
}
.card-group {
    border-radius: 20px;
}
img.img-fluid {
    border-radius: 270px;
    opacity: .3rem;
}
.col-md-6 {
    display: flex;
    
}
.py-5 {
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(images/footer1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 
.text-muted {
    font-style: italic;
}
